:root
{
    --alt-wth-clr: #ffffff;
    --accent-or-cr: #FF6C00;
    --al-sr-cr: #9DA4BD;
    --pr-sr-cr: #555555;
    --pr-bl-cr: #303030;

    --bl-bg: #191C26;
    --sr-bg: #F7F7F7;

    --pr-font-text: "Open-sans", sans-serif;
    --ttl-font: "Raleway", sans-serif;


}
body{
    font-family: var(--pr-font-text);
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--pr-sr-cr);
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px
}
.section{
    padding-top: 130px;
    padding-bottom: 130px;
}
.btn{
    color: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    background-color: transparent;
    margin-left: 40px;  
    border: 1px solid var(--accent-or-cr);
    border-radius: 25px;
    padding: 12px 20px;;
}
.btn:hover,
.btn:focus{
    color: var(--alt-wth-clr);
    background-color: var(--accent-or-cr);
}

.link{
    color: inherit;
    text-decoration: none;
}
.link:hover,
.link:focus{
    color: var(--accent-or-cr);
}
.list{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    display: block;
}
h1,
h2,
h3,
p{
    margin: 0;
}
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
.address{
    font-style: inherit;
}
.list-nav{
    display: flex;
    flex-wrap: wrap;
}
.list-nav .item:not(:last-child){
    margin-right: 40px;
}
.logo{
    margin-right: 70px;
    display: inline-block;
   
}
.section-label{
    background-color: var(--bl-bg);
}
.title{
    font-family: var(--ttl-font);
    letter-spacing: 0.05em;
    color: var(--pr-bl-cr);
    font-size: 42px;
    line-height: 1.16;
}
.header-flex{
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}
.aut-link{
    margin-left: auto;
}
.page-title{
    color: var(--alt-wth-clr);
    font-size: 72px;
    line-height: 1.18;
    margin-bottom: 20px;
}
.section-title{
    font-size: 42px;
    line-height: 1.16;
    color: var(--alt-wth-clr);
}
 
.title-label{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.4;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--pr-bl-cr);
    margin-bottom: 20px;
}
.list-prise{
    display: flex;
    flex-wrap: wrap;
}
.prise-link:not(:last-child){
    margin-right: 30px;
}
.prise-text{
    display: flex;
    max-width: 570px;
    flex-direction: column;
    margin-left: 30px ;
}
 .prise-section{
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    /* flex-basis: calc((100% - 30px * 2) / 2); */
}

.team-iteam{
    text-align: center;
}
.team-name{

    font-size: 18px;
    line-height: 1.4;
    color: var(--pr-bl-cr);
}
.team-barber{

    line-height: 1.86;
    color: var(--accent-or-cr);
    }
.black-bg{
    background-color: var(--bl-bg);
}
.black-bg .btn {
    color: var(--alt-wth-clr);
}
.title-prise{
    font-size: 18px;
    line-height: 1.67;
    color: var(--al-sr-cr);
}
.nado{
    background-color: var(--bl-bg);
    color: var(--al-sr-cr);
}
.nado .title-label
{
    color: var(--alt-wth-clr);
}